*{
	margin:0;
	padding:0;
}

html, body
{
	height: 100%;
	font-family: Helvetica, Arial, "Lucida Grande", Verdana, Geneva, sans-serif;
	Helvetica, Arial, , sans-serif; 
	   font-weight: 300;
}

body
{
	background-image:url('images/popup-bg.png');
	height: 300px;
	width: 460px;
}

.pop-top
{
	height: 174px; /*CORRECT*/
	width: 395px;   /*CORRECT*/
	
	background: #F7F7F7;
	background: -moz-linear-gradient(top, #FAFAFA, #F1F1F1);
	background: -webkit-linear-gradient(top, #FAFAFA, #F1F1F1);
	background: linear-gradient(top, #FAFAFA, #F1F1F1);
	
	border: 1px solid #D8D8D8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 2px 2px 6px 0px #999999;
	-webkit-box-shadow: 2px 2px 6px 0px #999999;
	box-shadow: 2px 2px 6px 0px #999999;
	


	margin: 20px 0px 8px 40px;  /*CORRECT*/
	
	behavior: url(PIE/PIE.htc);
}

	.pop-top .pop-title-info
	{
		height: 39px;
		width: 413px;
		line-height:40px;

		background: #F7F7F7;
		background: -moz-linear-gradient(top, #FAFAFA, #F1F1F1);
		background: -webkit-linear-gradient(top, #FAFAFA, #F1F1F1);
		background: linear-gradient(top, #FAFAFA, #F1F1F1);

		border: 1px solid #D8D8D8;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;

		-moz-box-shadow: 2px 2px 6px 0px #999999;
		-webkit-box-shadow: 2px 2px 6px 0px #999999;
		box-shadow: 2px 2px 6px 0px #999999;
		
		margin: 17px 0px 0px -10px;		
	}
	
		
		.pop-top .pop-title-info .pop-couponInfo
		{ 
			color: #0D65AC;
			float: left;
			border-right:1px solid #D8D8D8;
			padding:0px 12px 0px 12px;
			margin-right:12px;
		}
		.pop-top .pop-title-info .pop-storeName
		{
			color: #0E65AC;

		
		}

	
	.pop-top .pop-code 
	{
		margin-top:20px;
		color: #668C1F;
		font: 'LeagueGothicRegular', sans-serif;
		text-align: center;
	
	}
		

		.pop-top .pop-code-descript
		{

			text-align: center;
			color: #545454;
			font-size:15px;
			font-family: "Trebuchet MS", Helvetica, Arial, "Lucida Grande", Verdana, Geneva, sans-serif;
			font-style: italic;
			margin-top: 11px;
		}
	
.pop-bottom
{
	width:395px;  /*CORRECT*/
	height: 72px;  /*CORRECT*/
	
	
	background: #F7F7F7;
	background: -moz-linear-gradient(top, #FAFAFA, #F1F1F1);
	background: -webkit-linear-gradient(top, #FAFAFA, #F1F1F1);
	background: linear-gradient(top, #FAFAFA, #F1F1F1);
	
	border: 1px solid #D8D8D8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	margin-left:40px;
	
	-moz-box-shadow: 2px 2px 6px 0px #999999;
	-webkit-box-shadow: 2px 2px 6px 0px #999999;
	box-shadow: 2px 2px 6px 0px #999999;
	
}

	.pop-bottom .pop-bottom-wrapper
	{
		margin:10px 0px 0px 10px;
	}
	
	.pop-bottom .pop-enterEmailDescript
	{
			font-family: "Lucida Grande", Helvetica, Arial, Verdana, Geneva, sans-serif;
			font-size:12px;
			font-weight: 900;
			color: #545454;
	}

/*
behavior: url(path/to/PIE.htc);
*/